version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-comidita
    restart: always
    environment:
      MYSQL_DATABASE: comidita_martes
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: comidita-app
    restart: always
    depends_on:
      - mysql
    ports:
      - "8080:8080"

volumes:
  mysql_data:
